<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} {% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <!-- TailwindCSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <!-- FlowBite -->
  <link href="https://unpkg.com/flowbite@1.5.0/dist/flowbite.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}" />
</head>

<body>
  {% include 'navbar.html' %}
  <div class="content">{% block content %} {% endblock %}</div>
  {% include 'messages.html' %}
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}" type="text/javascript"></script>
  {% include 'footer.html' %}
</body>

</html>